fonts-intel-one-mono (VERSION-0local1) unstable; urgency=low

  * Initial "local" package -- not uploaded to Debian as it is not
    entirely clear what the copyright situation for the toolchain is
    
  * Packaging based on earlier pkg-fonts-* in my github repo

 -- Dirk Eddelbuettel <edd@debian.org>  Sat, 03 Jun 2023 09:53:41 -0500
